<h1>Listing elections</h1>

<table border=1>
  <tr>
    <th>ID</th>
    <th>Comitia</th>
    <th>Pres. Mag.</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Cent. Prae</th>
  </tr>

<% for election in @elections %>
  <tr>
    <td><%=h election.id %></td>
    <td><%=h election.comitia %></td>
    <td><%=h election.presmag %></td>
    <td><%=h election.startdate %></td>
    <td><%=h election.enddate %></td>
    <td><%=h election.centprae %></td>
    <td><%= link_to 'Show', election %></td>
    <td><%= link_to 'Edit', edit_election_path(election) %></td>
    <td><%= link_to 'Destroy', election, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New election', new_election_path %>
<br />
<a href="ballots">See ballots</a>

